.container-padre {
    margin-top: 3rem;
    background-color: #595b5a;
    border: solid, 10px, #f0971c;
    padding: 20px;
}

.container-hijo {
    font-size: 6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:900;
    color: white;
    }